<h1>Oscar's Journal</h1>

<p><%= link_to "Create new", new_journal_entry_path %></p>
<p><%= link_to "Food", food_index_path %></p>

<table border="1" width="1000">
  <thead>
    <tr>
      <th>Product</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Cal</th>
      <th>Total Cal</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr align="center">
        <td><%= entry.food.product %></td>
        <td><%= entry.food.category %></td>
        <td><%= entry.amount %></td>
        <td><%= entry.food.calories %></td>
        <td><%= entry.total_calories %></td>
        <td><%= entry.date %></td>
        <td>
          <%= link_to "Edit", edit_journal_entry_path(entry) %>,
          <%= link_to "Delete", journal_entry_path(entry), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      <tr>
    <% end %>
  <tbody>
</table>
