<h1>Food</h1>

<p><%= link_to "Create new", new_brand_path %></p>
<p><%= link_to "Back", root_path %></p>

<table border="1" width="1000">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr align="center">
        <td><%= brand.name %></td>
        <td>
          <%= link_to "Edit", edit_brand_path(brand) %>,
          <%= link_to "Delete", brand_path(brand), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      <tr>
    <% end %>
  <tbody>
</table>
