<h1>Food</h1>

<p><%= link_to "Create new", new_food_path %></p>
<p><%= link_to "Back", root_path %></p>

<table border="1" width="1000">
  <thead>
    <tr>
      <th>Product</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Cal</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @food.each do |food| %>
      <tr align="center">
        <td><%= food.product %></td>
        <td><%= food.brand.name %></td>
        <td><%= food.category %></td>
        <td><%= food.calories %></td>
        <td>
          <%= link_to "Edit", edit_food_path(food) %>,
          <%= link_to "Delete", food_path(food), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      <tr>
    <% end %>
  <tbody>
</table>
