<h1>Oscar's Journal</h1>

<p><a href="/journal/new">Create new</a></p>

<table border="1" width="1000">
  <thead>
    <tr>
      <th>Product</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Cal</th>
      <th>Total Cal</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr align="center">
        <td><%= entry.food.product %></td>
        <td><%= entry.food.category %></td>
        <td><%= entry.amount %></td>
        <td><%= entry.food.calories %></td>
        <td><%= entry.total_calories %></td>
        <td><%= entry.date %></td>
        <td>
          <%= link_to "Edit", "/journal/#{entry.id}/edit" %>,
          <%= link_to "Delete", "/journal_entries/#{entry.id}", method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      <tr>
    <% end %>
  <tbody>
</table>
